# yzu_CV Environment Requirements
"""
 主要套件包conda install -c conda-forge opencv
 pillow安裝方式:conda install -c conda-forge pillow
"""
# Usage: pip install -r requirements.txt

opencv=4.12.0
numpy=2.3.2
pillow=11.3.0